@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    position: relative;
    /* Added some padding to prevent content from overlapping the footer */
    padding-bottom: 2rem;
}
.readyPrompt{
    width: 40%;
    margin: 0 auto;
    border: 5px double black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 5em;
}
.readyPrompt button{
    font-family: inherit;
    width: fit-content;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
}
.readyPrompt button.yes:hover{
    background-color: green;
    color: white;
}
.readyPrompt button.no:hover{
    background-color: orange;
    color: white;
}
.response{
    text-align: center;
}
.timer{
    text-align: center;
}
.score{
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
}
.retake{
    font-family: inherit;
    margin: 0 auto;
    padding: .2em;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: .2em;
}
.retake:hover {
    background-color: green;
    color: white;
}
.quiz div{
    width: 70%;
    margin: 0 auto;
    padding: .5em;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: .5em;
}
.quiz div li {
    list-style: none;
}
.quiz div li label{
    cursor: pointer;
}
.quiz div li input[type="radio"]:checked,
.quiz div li:hover {
    cursor: pointer;
    background-color: lightgray;
}
.quiz div .result{
    margin-top: 1em;
}
.submitBtn{
    font-family: inherit;
    margin: 0 auto;
    padding: .2em;
    border-radius: 10px;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: green;
    color: white;
}
.footer{
    width: 100%;
    font-size: .85rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}