@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100vh;
}
h1{
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
.readyPrompt{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.readyPrompt h2{

}
.readyPrompt button{
    font-family: inherit;
    width: fit-content;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
}
.readyPrompt button:hover{
    opacity: .8;
}
.quiz div{
    width: 70%;
    margin: 0 auto;
    padding: .5em;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: .5em;
}
footer{
    font-size: .85rem;
    text-align: center;
}